// GH
$gh-blue: #4078C0;

// PD
$pd-blue: #0079C2;
$pd-mint: #66C8C6;
$pd-green: #0EB295;
$pd-pink: #EC247C;
$pd-gray: #333333;

// Grays
$gray-6: #212121;
$gray-5: #333333;
$gray-4: #808080;
$gray-3: #CCCCCC;
$gray-2: #DDDDDD;
$gray-1: #EEEEEE;