// Grays
$gray-6: #222222;
$gray-5: #3b3b3b;
$gray-4: #808080;
$gray-3: #CCCCCC;
$gray-2: #DDDDDD;
$gray-1: #EEEEEE;

// FB
$fb-2: #E9EAED;
$fb-1: #F6F7F8;

// GH
$gh-blue: #4078C0;

// TWITTER
$tw-blue: #55ACEE;
$tw-green: #76D8C0;

// ORCHESTRATE
$orch-3: #32454C;
$orch-2: #3F5D65;
$orch-mint: #6DC9CA;

// PD
$pd-blue: #0079C2;
$pd-mint: #66C8C6;
$pd-green: #0EB295;
$pd-pink: #EC247C;
$pd-gray: #333333;

// DILL
$dill-3: #2B2F36;
$dill-2: #373D49;
$dill-1: #A0AABF;
$dill-mint: #35D7BB;