/* COMMON SASS STYLESHEET: AUSTIN GEBAUER */
@import 'reset';
@import 'utility';
@import 'fonts';
@import 'colors';

/* CUSTOM STYLES */
body {
  font-family: $fs-osans;
  font-weight: 300;
  font-size: 16px;
  color: #212121;
  margin: 0;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fs-osans;
  margin: 0.5em 0;
}

a {
  text-decoration: none;
  color: $gray-3;
}

header {
    
}

header nav {
    
}

footer {
  
}

/* MEDIA QUERIES */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* KEYFRAMES */
.way-in {
  animation: animateIn 0.4s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -webkit-animation: animateIn 0.4s;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  opacity: 0;
}

@keyframes animateIn {
  from {
      transform: translateY(500px);
  }
  to {
    transform: translateY(0px);
      opacity: 1;
  }
}

@-webkit-keyframes animateIn {
  from {
      -webkit-transform: translateY(500px);
  }
  to {
    -webkit-transform: translateY(0px);
      opacity: 1;
  }
}

/* BETTER BOX SIZING */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* TEXT SELECTION */
::selection {
  background: $gray-2;
  color: white;
}

::-webkit-selection {
  background: $gray-2;
  color: white;
}

::-moz-selection {
  background: $gray-2;
  color: white;
}

/* NO OUTLINE MY FOCUS PLZ */ 
*:focus {
  outline: 0; 
}

/* PLACEHOLDER TEXT COLOR */
::-webkit-input-placeholder {
  color: $gray-4;
}

:-moz-placeholder { /* Firefox 18- */
  color: $gray-4;  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $gray-4;  
}

:-ms-input-placeholder {  
  color: $gray-4;  
}

/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

//@font-face {
//    font-family: 'League Gothic';
//    src: url('../../fonts/leaguegothic-regular-webfont.eot');
//    src: url('../../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../../fonts/leaguegothic-regular-webfont.woff') format('woff'),
//         url('../../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
//         url('../../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}