/* DISPLAY */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

/* ALIGNMENT */
.block-center {
    margin: 0 auto;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

/* FLOATS */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* LOADING */
.loading {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: $dill-1;
    animation-delay: 0.2s;
    animation: loadingLoopOuter 0.8s infinite;
    animation-timing-function: ease-in-out;

    &::after {
        content: '';
        animation: loadingLoopInner 0.8s infinite;
        animation-timing-function: ease-in-out;
        animation-delay: 0.2s;
        display: inline-block;
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background-color: $dill-2;
    }
}

@keyframes loadingLoopOuter {
  0% {
    transform: scale3d(0.5, 0.5, 0.5);
    opacity: 0.8;
  }
  50% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    transform: scale3d(0.5, 0.5, 0.5);
    opacity: 0.8;
  }
}

@keyframes loadingLoopInner {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  50% {
    transform: scale3d(0.1, 0.1, 0.1);
    opacity: 0.2;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/* BOX & TEXT SHADOW */
.text-shadow-dark {
    text-shadow: 1px 1px 1px #444;
}

.text-shadow-light {
    text-shadow: 1px 1px 1px #C4C4C4;
}

.box-shadow {
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.20);
}

.box-shadow-down {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.20);
}

.box-shadow-up {
    box-shadow: 0 -3px 8px 0 rgba(0,0,0,0.20);
}

.box-shadow-right {
    box-shadow: 3px 2px 8px 0 rgba(0,0,0,0.20);
}

.box-shadow-left {
    box-shadow: -3px 2px 8px 0 rgba(0,0,0,0.20);
}

/* GRID (apply .no-gutter to .row) */
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/* LISTS */
.inline-list {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

.inline-list > li {
    display: inline-block;
    padding: 10px 15px;
}

/* HIDE-SHOW */
.hidden {
    display: none !important;
    visibility: hidden;
}

.invisible {
    visibility: hidden;
}

.opacity-zero {
    opacity: 0;
}

.opacity-one {
    opacity: 1;
}

.clearfix {
    clear: both;
}

.clear-right {
    clear: right;
}

.clear-left {
    clear: left;
}

/* TESTING BORDERS */
.testing-border {
    border: 1px solid red;
}