/* COMMON SASS STYLESHEET BY: AUSTIN GEBAUER */

@import 'fonts';
@import 'colors';

/* CUSTOM STYLES */
body * {
    font-family: $font-stack-osans;
}

body {
    margin: 0;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack-headers;
}

header {
    
}

header nav {
    
}

footer {
	
}

/* MEDIA QUERIES */
@media screen and (max-width: 500px){

}

@media screen and (min-width: 501px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 1299px) {

}

@media screen and (min-width: 1300px) and (max-width: 1699px) {

}

@media screen and (min-width: 1700px) {

}

/* BETTER BOX SIZING */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* TEXT SELECTION */
::selection {
    background: $gray-2;
    color: white;
}

::-webkit-selection {
    background: $gray-2;
    color: white;
}

::-moz-selection {
    background: $gray-2;
    color: white;
}

/* NO OUTLINE MY FOCUS PLZ */ 
*:focus {
    outline: 0; 
}

/* PLACEHOLDER TEXT COLOR */
::-webkit-input-placeholder {
   color: $gray-4;
}

:-moz-placeholder { /* Firefox 18- */
   color: $gray-4;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $gray-4;  
}

:-ms-input-placeholder {  
   color: $gray-4;  
}

/* DEFAULT ELEMENT STYLES */
* a {
	text-decoration: none;
	color: $gray-3;
}

/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

//@font-face {
//    font-family: 'League Gothic';
//    src: url('../../fonts/leaguegothic-regular-webfont.eot');
//    src: url('../../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../../fonts/leaguegothic-regular-webfont.woff') format('woff'),
//         url('../../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
//         url('../../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}