/* COMMON SASS STYLESHEET BY: AUSTIN GEBAUER */

/* SASS VARIABLES */
$font-stack-<name>: '<add font>', 'Helvetica', sans-serif;
$font-stack-<name>: '<add font>', 'Helvetica', sans-serif;

/* COLORS */
$l3-dark-gray: #222222;
$l2-dark-gray: #333333;
$l1-dark-gray: #808080;
$l3-gray: #CCCCCC;
$l2-gray: #DDDDDD;
$l1-gray: #EEEEEE;

/* CUSTOM STYLES */
body {
    font-family: $font-stack-<name>;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack-<name>;
}

header {
    
}

header nav {
    
}

footer {
	
}

/* MEDIA QUERIES */
@media screen and (max-width: 500px){

}

@media screen and (min-width: 501px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 1299px) {

}

@media screen and (min-width: 1300px) and (max-width: 1699px) {

}

@media screen and (min-width: 1700px) {

}

/* BETTER BOX SIZING */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* SELECTION */
::selection {
  background: $l2-dark-gray;
  color: white;
}
::-webkit-selection {
	background: $l2-dark-gray; 
  	color: white;
}
::-moz-selection {
  background: $l2-dark-gray; 
  color: white;
}
*:focus {
    outline: 0; 
}

/* DEFAULT ELEMENT STYLES */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

//@font-face {
//    font-family: 'League Gothic';
//    src: url('../../fonts/leaguegothic-regular-webfont.eot');
//    src: url('../../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../../fonts/leaguegothic-regular-webfont.woff') format('woff'),
//         url('../../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
//         url('../../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}